.headerLogo{
	height: 80%;
	z-index: 1;
}
.mainHeaderLogo{
	width: 80%;
	max-width: 15em;
	z-index: 1;
}
.tableSearch{
	width: 100%;
}
.tdSearch{
	width: 90%;
}
.tdButton{
	width: 10%;
	height: 100%;
}